{% extends 'quiz/base.html' %}
{% load static %}
{% block title %} Submitted {% endblock %}
{% block description %}
  Your text was submitted successfully
{% endblock %}
{% block content %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'quiz/css/correction.min.css' %}">
  </head>
  <body>
		{% include 'quiz/navbar.html' %}
    <div class="wrapper after_submit_wrapper">
        <p class="thanks">
          ありがとう for submitting your writing! <br>
          I'll revise it ASAP!
        </p>
        <p class="goback">Go back to<a href="{% url 'quiz:correction' %}">修 - Correction</a></p>
      </div>


    </div>

  </body>
</html>

{% endblock %}
