{% extends 'quiz/base.html' %}
{% load static %}
{% block title %} Submitted {% endblock %}
{% block description %}
  Your text was submitted successfully
{% endblock %}
{% block content %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'quiz/css/correction.min.css' %}">
  </head>
  <body>
		{% include 'quiz/navbar.html' %}
    <div class="wrapper register">
      <div class="plain_container">
        <p class="thanks">
          ありがとう for submitting your writing!
          I'll revise it ASAP!
        </p>
        <a href="{% url 'quiz:correction' %}" class="button weak_button">Go back to 修 - Correction</a></a>
      </div>
    </div>
  </body>
</html>

{% endblock %}
