$base_bacground_color: rgba(242, 242, 242, 1)
$base_letter_color: rgb(111, 111, 111)
$strong_red: rgb(255, 102, 102)
$link_color: rgb(63, 130, 138)

.article_category_nihongo
	background-color: rgb(254, 124, 80)
.article_category_japan
	background-color: rgb(70, 167, 255)
.articles_wrapper
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	.section_head
		width: 100%

	.articles_container
		width: 75%
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between
		.article_container
			width: 100%
			margin-bottom: 5rem
			background-color: $base_bacground_color
			border-radius: 5px
			.article_link
				display: flex
				flex-wrap: wrap
			.article_thumbnail
				width: 45%
				img
					width: 100%
					object-fit: contain
			.article_top
				width: 55%
				span
					font-size: 1.1rem
					display: block
					background: rgb(106, 106, 106)
					padding: 0.5rem
					border-radius: 0 10px 0 10px
					color: #fff
				.article_summary
					padding: 0.5rem
					p
						font-size: 1rem
						line-height: 1.7rem
			.article_bottom
				width: 100%
				display: flex
				background-color: $base_bacground_color
				align-items: center
				padding: 0.5rem
				.article_categories
					width: 45%
					.article_category
						color: white
						padding: 0.2rem 0.5rem
						border-radius: 10px
					.article_date
				.article_tags
					width: 55%
					display: flex
					padding-left: 0.5rem
					flex-wrap: wrap
					.article_tag
						background-color: rgb(203, 203, 203)
						color: white
						padding: 0.2em 1em 0.2em 0.2em
						border-radius: 0 2rem 2rem 0
						white-space: nowrap
						display: inline-block
						margin-right: 1rem
						&:before
							content: ''
							width: 0.5em
							height: 0.5em
							background-color: white
							border-radius: 50%
							display: inline-block


	.articles_sidebar
		width: 20%
		transition:  0.5s
		.search_form
			margin-bottom: 3rem
			.search_form_input
				border: 1px solid
				border-radius: 0.5rem
		.sidebar_list
			.sidebar_head
				p
					font-size: 1.1rem
					border-bottom: 1px solid $base_letter_color
					margin-bottom: 1rem
			ul
				.sidebar_category
					color: white
					padding: 0.2rem 1rem
					border-radius: 10px
		.article_category_list
			margin-bottom: 5rem
		.article_tag_list
			.article_tag
				background-color: rgb(203, 203, 203)
				color: white
				padding: 0.2em 1em 0.2em 0.2em
				border-radius: 0 2rem 2rem 0
				white-space: nowrap
				display: inline-block
				margin-bottom: 1rem
				&:before
					content: ''
					width: 0.5em
					height: 0.5em
					background-color: white
					border-radius: 50%
					display: inline-block
	.related_posts
		width: 75%
		.section_head
			margin-top: 5rem

.sidebar_button
	text-align: center
	padding: 0.1rem 0
	width: 100%
	background: linear-gradient(rgb(228, 228, 228), rgb(201, 201, 201))
	display: none



@media screen and (max-width:1100px)
	.wrapper
		width: 90vw!important
		.sidebar_button
			display: block
		.articles_container
			order: 2
			width: 100%
			.article_container
				width: 100%
				margin-top: 3rem
				.article_thumbnail
					width: 100% !important
				.article_top
					width: 100% !important
					span
						margin-bottom: 1rem
					.article_summary
						margin-bottom: 1rem
				.article_bottom
					flex-wrap: wrap
					.article_categories
						width: 100% !important
						margin-bottom: 1rem
						display: flex
						justify-content: space-between
					.article_tags
						width: 100% !important
						padding-left: 0
						.article_tag
							margin-bottom: 1rem
		.articles_sidebar
			order: 1
			width: 100%
			height: 0
			overflow: hidden
			.search_form
				margin-top: 3rem
			.article_tag_list
				ul
					white-space: nowrap
					overflow-X: scroll
		.articles_pagination
			width: 100%
			order: 3
		.open_nav
			transition: 1s
			height: 150vw
