/*index*/
body
  width: 100vw

.col-md-6
  margin-bottom: 3em


.category-title
  font-size: 1.5em
  li
    padding-left: 1em
    margin-bottom: 1em
    list-style-type: none
    list-style-position: outside
  a
    text-decoration: none
    color: inherit
    border-bottom: 1px solid rgb(185, 185, 185)
.category-title
  border-bottom: 1.5px solid rgb(168, 171, 163)

/*basic_post*/
.post-info
  margin-top: 3em
  .section-title
  .section-category
    font-size: 1.2em
.content
  border-top: 1px solid rgb(222, 222, 222)
  padding-top: 2em
  li
    list-style: inherit

.empty
  height: 400px
