$color: rgb(135, 189, 238)

/*index*/
body
  width: 100vw

.col-md-6
  margin-bottom: 3em

.basic-category
  .category-title
    font-size: 1.5em
  li
    padding-left: 1em
    margin-bottom: 1em
    list-style-type: none
    list-style-position: outside
  a
    text-decoration: none
    color: inherit
    border-bottom: 1px solid rgb(185, 185, 185)
.category-title
  border-bottom: 1.5px solid rgb(168, 171, 163)

/*basic_post*/
.post-info
  margin-top: 3em
  .section-title
  .section-category
    font-size: 1.2em
.content
  border-top: 1px solid rgb(222, 222, 222)
  padding-top: 2em
  ul
    padding: 0.5em 1em
    color: #494949
    background: transparent
    border-left: solid 5px rgb(185, 211, 223)
    li
      list-style: none
      padding-left: 0
      font-style: italic

  ol
    padding-left: 2em
  li
    padding-left: 1em

  img
    max-width: 100%
    margin: auto
    display: block
  h3
    border-bottom: 3px solid $color
    padding: 0.5em 0
  h3::first-letter
    font-size: 1.3em
  .japa



.empty
  height: 400px
