$base_bacground_color: rgba(242, 242, 242, 1)
$base_letter_color: rgb(111, 111, 111)
$strong_red: rgb(255, 102, 102)
$link_color: rgb(63, 130, 138)



.content_wrapper
	width: 80vw
	margin: 0 auto
	margin-bottom: 5rem
	display: flex
.article-post_info
	margin-bottom: 2rem
	.article-post_title
		font-size: 1.5rem
		text-transform: uppercase
		margin-bottom: 1rem
	.article_date
		display: block
	.article_category
		color: white
		padding: 0.2rem 1rem
		border-radius: 10px
		display: inline-block
	.article_category_japan
	.article_tag
		background-color: rgb(203, 203, 203)
		color: white
		padding: 0.2em 1em 0.2em 0.2em
		border-radius: 0 2rem 2rem 0
		white-space: nowrap
		display: inline-block
		margin-bottom: 1rem
		&:before
			content: ''
			width: 0.5em
			height: 0.5em
			background-color: white
			border-radius: 50%
			display: inline-block
	.thumbnail_attr
		a
			background: linear-gradient(transparent 90%, $base_letter_color 80%)
			font-size: 0.9rem
	.article-post_thumbnail
		max-width: 100%
		margin-top: 1rem
		margin-bottom: 3rem
.content
	
	padding: 5rem 0
	width: 100%
	p, img, div, ul
		margin-bottom: 1rem
	h1, h2, h3, h4
		margin-bottom: 2rem
	h1
	h2
		font-size: 1.4rem
		margin-top: 7rem
		background: rgb(106, 106, 106)
		padding: 1rem

		color: #fff
		&:first-child
			margin-top: 1rem
	h3
		font-size: 1.3rem
		margin-top: 4rem
		padding: 1rem
		border-radius: 0 10px 0 10px
		background-color: rgb(205, 205, 205)
		color: white
	h4
		font-size: 1.3rem
		margin-top: 4rem
		padding: 5px 15px
		border-bottom: 2px solid  rgb(106, 106, 106)
		color: inherit
	p
		margin-top: 1rem
		font-size: 1.1rem!important
	a
		color: $link_color
		font-weight: 550
		border-bottom: 1px solid $link_color
		padding-bottom: 0
	img
		max-width: 100%
		object-fit: contain
		margin-top: 3rem
		margin-bottom: 3rem
	span
		color: red
	.f
		color: rgb(49, 228, 141)
	.line
		background: linear-gradient(transparent 90%, #ff8171 80%)
		color: inherit
		font-weight: 560

.convo
	margin-top: 5em!important
	margin-bottom: 5rem!important
	.fuki
		.serif
			display: inline-block
			width: 65%
			p
				display: inline-block
				height: auto
	.fuki_left
		.fuki_wrapper
			width: 100%
			margin-right: 0
			display: flex
			p
				border: 3px solid rgb(145, 222, 139)
				padding: 1rem
				border-radius: 10px
				background-color: white
				position: relative
				&::before
		      position: absolute
		      content: ''
		      border: 13px solid transparent
		      border-right: 13px solid rgb(145, 222, 139)
		      top: 40%
		      left: -28px
			&::before
				content: ''
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/sensei_normal.png)
				display: inline-block
				width: 25%
				height: 16vw
				background-size: cover
		  	vertical-align: middle
				transform: scale(-1, 1)
	.fuki_right
		.fuki_wrapper
			width: 100%
			display: flex
			justify-content: flex-end
			.serif
				text-align: right
			p
				border: 3px solid rgb(249, 255, 157)
				padding: 1rem
				border-radius: 10px
				background-color: white
				position: relative
				text-align: left
				&::before
		      position: absolute
		      content: ''
		      border: 13px solid transparent
		      border-left: 13px solid rgb(249, 255, 157)
		      top: 40%
		      right: -28px
			&::after
				content: ''
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/student_normal.png)
				display: inline-block
				width: 25%
				height: 16vw
				background-size: cover
		  	vertical-align: middle

	.fuki_left
		.confuse
			&::before
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/sensei_confused.png)
		.angry
			&::before
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/sensei_angry.png)
		.tongue
			&::before
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/sensei_toungue.png)
		.surprise
			&::before
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/sensei_surprised.png)
		.frown
			&::before
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/sensei_frown.png)
	.fuki_right
		.confuse
			&::after
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/student_confuse.png)
		.angry
			&::after
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/student_angry.png)
		.cry
			&::after
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/student_cry.png)
		.gamau
			&::after
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/student_gamau.png)
		.sunglasses
			&::after
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/student_sunglasses.png)
		.smart
			&::after
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/student_smart.png)
		.tongue
			&::after
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/student_tongue.png)
		.kiri
			&::after
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/student_kiri.png)
		.mo-
			&::after
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/student_mo-.png)
		.shonbori
			&::after
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/student_shonbori.png)
		.shirome
			&::after
				background-image: url(https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/convo_icons/student_shirome.png)

@media screen and (max-width:800px)
	.toc
		ul
			padding-left: 0

	.serif
		p
			width: 100%
	.fuki_left
		.fuki_wrapper
			&::before
				width: 30% !important
				height: 30vw!important
		p
			&::before
				top: 5% !important
	.fuki_right
		.fuki_wrapper
			.serif
				text-align: left!important
			&::after
				width: 30% !important
				height: 30vw!important
		p
			&::before
				top: 5% !important
