$color-n6: rgb(168, 233, 255)
$color-n5: rgb(74, 164, 238)
$color-n4: rgb(74, 201, 178)
$color-n3: rgb(107, 189, 72)
$color-n2: rgb(233, 186, 36)
$color-n1: rgb(237, 125, 60)

/*lesson_index*/
.row
  .lesson-chapter
    border: 1px solid rgb(226, 226, 226)
    border-radius: 20px
    margin: 0 0.5em 3em 0.5em
    padding: 1em
  .chapter-1
    box-shadow: 2px 2px 2px $color-n6
    .chapter
      border-bottom: 2px solid $color-n6
  .chapter-2
    box-shadow: 2px 2px 2px $color-n5
    .chapter
      border-bottom: 2px solid $color-n5
  .chapter-3
    box-shadow: 2px 2px 2px $color-n4
    .chapter
      border-bottom: 2px solid $color-n4

/*lessons_detail*/
img
  margin: 0 auto
  display: block

.col-md-6
  margin-bottom: 3em

.lesson-chapter
  .chapter
    font-size: 1.5em
  .lesson
    display: flex
    flex-direction: row
    padding-left: 1em
    .lesson-num
      width: 10%
    li
      width: 90%
      margin-bottom: 1em
      list-style-type: none
      display: inline-block
      a
        text-decoration: none
        color: inherit
        border-bottom: 1px solid rgb(185, 185, 185)
.chapter
  border-bottom: 1.5px solid rgb(168, 171, 163)
.list-row
  margin-bottom: 5em
  .list-name
    color: inherit
    font-size: 1.5em
  div
    margin-bottom: 2em


  /*lesson_post*/

$base-margin: 2em
$base-border: 1px solid rgb(191, 191, 191)
$yomi-color: rgb(255, 183, 158)
$en-color: rgb(82, 200, 254)
$answer-color: rgb(255, 70, 70)
$casual-color: rgb(8, 214, 0)

.lesson_post
  .section
    margin-bottom: $base-margin*5
  .section-head
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    align-items: baseline
    padding: $base-margin $base-margin/2 $base-margin 0
    margin-bottom: $base-margin
    .section-name
      font-size: 1.3em
      margin-bottom: 0
      font-family: "Sawarabi Mincho"
      background: linear-gradient(transparent 90%, rgb(181, 181, 181) 90%)
      background-color: rgb(236, 236, 236)
      border-radius: 10px
      padding: 0 $base-margin/2
    .buttons
      .btn-yomi
        background-color: $yomi-color
        color: rgb(237, 237, 237)
      .btn-en
        background-color: $en-color
        color: rgb(237, 237, 237)
      .btn-answer
        background-color: $answer-color
        color: rgb(237, 237, 237)
      .btn-casual
        background-color: $casual-color
        color: rgb(237, 237, 237)
  .yomi
    color: $yomi-color
  .en
    color: $en-color
  .answer
    color: $answer-color
  .casual
    color: $casual-color
  .post-info
    .section-number
      font-size: 1.5em
    .section-title
      font-size: 1.8em

/*body*/
.lesson-body
  margin: $base-margin 0
  border-bottom: $base-border
  .section-head
    margin-bottom: $base-margin
    border-bottom: $base-border
  .sentence-container
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin-bottom: $base-margin
    .body-left
      width: 15%
      .body-person
        font-size: 0.9em
        font-weight: 600
    .body-middle
      width: 5%
    .body-right
      width: 80%
      .body-sentence
        margin-bottom: $base-margin/2
        span
          color: rgb(255, 74, 74)
        .under
          border-bottom: 1px solid black
          color: rgb(255, 74, 74)


/*question*/
.lesson-question
  margin-bottom: $base-margin
  .section-head
    .section-name
    .buttons
  .questions>*
    padding-left: 1em
    /*margin-bottom: $base-margin/2*/
  .question-number
    margin-bottom: $base-margin/2
    padding-left: 0
    font-weight: 600
  .question-question
    margin-bottom: $base-margin/2
  .question-question-yomi
  .question-question-en
  .question-kotae
    padding-left: $base-margin
  .question-answer
    padding-left: $base-margin
  .question-answer-yomi
    padding-left: $base-margin
  .question-answer-en
    padding-left: $base-margin


/*vocabulary*/
.lesson-vocab
  .word
    margin-bottom: $base-margin/2
    font-size: 1.1em
    color: rgb(242, 129, 107)
  .casual
    color: $casual-color
.dictionary
  display: flex
  flex-direction: row
  justify-content: flex-start
  padding-left: $base-margin/2
  margin-bottom: $base-margin/2
  .word-left
    width: 10vw
    font-weight: bold
    margin-bottom: 0
  .word-right
    width: 90vw
    padding-left: 0


/*grammar*/
.lesson-grammar
  .grammar-name
    color: rgb(242, 129, 107)
    font-size: 1.5em
    margin-bottom: $base-margin
  .grammar-desc
    margin-bottom: $base-margin*2
  .casual
    color: $casual-color
  img
    max-width: 100%
    margin: 5em 0
    display: block
    box-shadow: 2px 2px 2px 2px rgb(227, 227, 227)
  li
    list-style-position: inside
/*Kanji*/
.lesson-kanji
  .dictionary-kanji
    margin-bottom: $base-margin/2
    color: rgb(242, 129, 107)
    font-size: 1.2em



/*list*/

.info_list
  margin-bottom: 10em
  .table-top
    font-weight: bold
    font-size: 1.10em
    border-bottom: 1px solid rgb(199, 199, 199)
  .table-content
    .table-body
      padding: 1em
    .table-word
      text-decoration: none
      color: rgb(242, 129, 107)
      border-bottom: 1px solid rgb(199, 199, 199)
  .casual
    color: $casual-color !important
