.pagination
	width: 75%
	text-align: center
	ul
	.page-item
		background-color: rgb(98, 98, 98)
		display: inline-block
		border-radius: 0.5rem
		a
			color: white
			padding: 0.5em 0.5em
	.current_number
		background-color: rgb(143, 143, 143)
		display: inline-block
		border-radius: 0.5rem
