{% extends "quiz/base.html" %}
{% load static %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'quiz/css/register.min.css' %}">
</head>
{% include 'quiz/navbar.html' %}
<div class="wrapper register_wrapper">
	<section class="form_container">
		<p class="form_head">Log in</p>
    <form class="form" action="{% url 'quiz:login' %}" method="POST">
      <div class="form_error">
        {{ form.non_field_errors }}
      </div>
      {% for field in form %}
        <div class="form_section">
          {{ field }}        
          <div class="form_error">
            {{ field.errors }}
          </div>
        </div>
      {% endfor %}
      <button type="submit" class="button strong_button" >Login</button>
      <input type="hidden" name="next" value="{{ next }}" />
      {% csrf_token %}
    </form>
		<div class="form_bottom">
			<a href="{% url 'quiz:user_create' %}" class="button friendly_button" >Sign Up</a>
			<a href="{% url 'quiz:password_reset' %}" class="button weak_button" >Forgot password?</a>
		</div>
	</section>
</div>
{% endblock %}
