{% extends "quiz/base.html" %}
{% block content %}
{% load static %}
<head>
	<link rel="stylesheet" href="{% static 'quiz/css/register.min.css' %}">
</head>
<body>
	{% include 'quiz/navbar.html' %}
	<div class="wrapper register_wrapper">
		<div class="plain_container">
			<p class="plain_text">
				The link for resetting your password has been sent to the email address you input.
				Please check your inbox, and reset your password.
			</p>
			<a class="button weak_button" href="{% url 'quiz:toppage' %}">Go back to Toppage</a>
		</div>
	</div>
</body>
{% endblock %}
