{% extends "quiz/base.html" %}
{% block content %}
{% load static %}
<head>
	<link rel="stylesheet" href="{% static 'quiz/css/register.min.css' %}">
</head>
<body>
	{% include 'quiz/navbar.html' %}
	<div class="wrapper register_wrapper plain_wrapper">
		<div class="plain_container">
			<p class="plain_text">
				Welcome! <br>
				The registration has been completed.
			</p>
			<a class="button strong_button" href="{% url 'quiz:toppage' %}">Go back to Toppage</a>
			<a class="button weak_button" href="{% url 'quiz:login' %}">Login</a>
		</div>
	</div>
</body>
{% endblock %}
