{% extends "quiz/base.html" %}
{% load static %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'quiz/css/register.min.css' %}">
</head>
<body>
	{% include 'quiz/navbar.html' %}
	<div class="wrapper register_wrapper">
		<div class="form_container">
			<form action="" method="POST">
				<div class="form_error">{{ form.non_field_errors }}</div>
				<div class="form_sections_container">
					{% for field in form %}
						<div class="form_section">
							<div class="form_label" >{{ field.label }}</div>
							{{ field }}
							<div class="form_error">{{ field.errors }}</div>
						</div>
					{% endfor %}
				</div>
			{% csrf_token %}
			<button type="submit" class="button strong_button" >Submit</button>
			</form>
		</div>
	</div>
</body>
{% endblock %}
