{% extends 'quiz/base.html' %}
{% load static %}

{% block title %}Basics{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-167867160-1');
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6"><!--cp 1-->
          <p>Chapter 1</p>
          {% for lesson in object_list %}
            {% if lesson.chapter == 1 %}
              <a href="{% url 'quiz:lesson_post' lesson.pk %}">{{lesson.title}}</a> <br>
            {% endif %}
          {% endfor %}
        </div>

        <div class="col-md-6"><!--cp 2-->
          <p>Chapter 2</p>
          {% for lesson in object_list %}
            {% if lesson.chapter == 2 %}
              <a href="{% url 'quiz:lesson_post' lesson.pk %}">{{lesson.title}}</a> <br>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>




  </body>
</html>


{% endblock %}
