{% extends 'quiz/base.html' %}
{% load static %}
{% block title %}Lesson Vocabulary{% endblock %}
{% block description %}
  Let's learn Nihongo with me!
{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'quiz/css/lessons.min.css' %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167867160-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-167867160-1');
    </script>
  </head>
  <body>
    <div class="container list">
      <h1 class="top-menu mt-5">Grammar List </h1>
      <div class="row table-top">
        <div class="col-1">
          <p>CP</p>
        </div>
        <div class="col-5">
          <p>Grammar</p>
        </div>
      </div>
      {% for grammar in object_list %}
        <div class="row table-content">
          <div class="col-1 table-body">
            {{ grammar.lesson.chapter }}
          </div>
          <div class="col-5 table-body">
            <a class="table-word" href="{% url 'quiz:lesson_post' grammar.lesson.pk %}">{{ grammar.grammar }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>

{% endblock %}
