{% extends 'quiz/base.html' %}
{% load static %}

{% block title %}Basics{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'quiz/css/lessons.min.css' %}">
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-167867160-1');
    </script>
  </head>
  <body>
    <div class="container">
      <h1 class="top-menu mt-5">習 - Courses </h1>
      <div class="row list-row">
        <div class="col-12 col-md-4">
          <a class="list-name chapter" href="{% url 'quiz:lesson_grammar' %}">Grammar List</a>
        </div>
        <div class="col-12 col-md-4">
          <a class="list-name chapter" href="{% url 'quiz:lesson_vocabulary' %}">Vocabulary List</a>
        </div>
        <div class="col-12 col-md-4">
          <a class="list-name chapter" href="{% url 'quiz:lesson_kanji' %}">Kanji List</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 lesson-chapter"><!--cp 1-->
          <p class="chapter">Chapter 1</p>
          {% for lesson in object_list %}
            {% if lesson.chapter == 1 %}
            {% if lesson.public  %}
              <div class="lesson">
                <p class="lesson-num">{{ lesson.number }}.</p>
                <li>
                  <a href="{% url 'quiz:lesson_post' lesson.pk %}">
                    {{lesson.title}}
                  </a>
                </li>
              </div>
            {% endif %}
            {% endif %}
          {% endfor %}
        </div>

        <div class="col-md-6 lesson-chapter">
          <p class="chapter">Chapter 2</p>
          {% for lesson in object_list %}
            {% if lesson.chapter == 2 %}
              <div class="lesson">
                <p class="lesson-num">{{ lesson.number }}.</p>
                <li>
                  <a href="{% url 'quiz:lesson_post' lesson.pk %}">
                    {{lesson.title}}
                  </a>
                </li>
              </div>
            {% endif %}
          {% endfor %}
        </div>


      </div>
    </div>




  </body>
</html>


{% endblock %}
