{% extends 'quiz/base.html' %}
{% load static %}
{% block title %}Articles on {{ article_tag_slug.name }}{% endblock %}
{% block description %}
  Here are more advanced articles on the Japanese language!
{% endblock %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'quiz/css/article_index.min.css' %}">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167867160-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-167867160-1');
	</script>
</head>
<body>
  {% include 'quiz/navbar.html' %}
	<div class="wrapper articles_wrapper">

  	<h1 class="section_head">{{ article_tag_slug.name }}</h1> <!-- Advanced Head-->
		<span class="sidebar_button" id="sidebar_button" onclick="openNav()"><i class="fas fa-chevron-down"></i></span>

    <div class="articles_container">
      {% for basic in object_list %}
        {% if basic.public %}
          <article class = "article_container">
            <div class="article_title">
              <a href="{% url 'quiz:article_post' basic.title_slug %}">{{ basic.title }}</a>
            </div>
            <div class="article_top_info">
              {% if basic.category2 %}
                <a class="article_category article_category_{{basic.category2.slug}}" href="{% url 'quiz:article_category_post' basic.category2.slug %}">{{ basic.category2.name }}</a>
              {% endif %}
              	<span class="article_date">{{ basic.update |date:"M j, Y"}}</span>
            </div>
            <div class="article_thumbnail">
              {% if basic.thumbnail  %}
              <a href="{% url 'quiz:article_post' basic.title_slug %}"><img src="{{ basic.thumbnail.url }}" alt=""></a>
              {% endif %}
            </div>
            <div class="article_info">
              {% if basic.summary %}
              <div class="article_summary">
                <p>{{ basic.summary | safe }}</p>
              </div>
              {% endif %}
              <div class="article_tags">
                {% for tag in basic.tag.all %}
                <a class="article_tag" href="{% url 'quiz:article_tag_post' tag.slug %}">
              		{{ tag }}
              	</a>
              	{% endfor %}
            	</div>
						</div>
					</article>
        {% endif %}
      {% endfor %}
    </div><!-- Articleindex_container-->

    <aside class="sidebar articles_sidebar" id="articles_sidebar"><!--Sidebar-->
      {% include 'quiz/articles/article_tags.html' %}
    </aside>

    <nav class="pagination articles_pagination"><!--Pagination-->
      {% include 'quiz/pagination.html' %}
    </nav>
  </div>
</body>
{% endblock %}
