{% load static %}
{% block content %}
{% if answer_of_user_query %}
<form class="search_form" action="{% url "quiz:all_articles_of_user" request.user.pk %}" method="get" accept-charset="utf-8">
	<input class="search_form_input" type="text" name="q" value="{{ request.GET.q }}" placeholder="Search...">
	<button class="search_form_button" type="submit">Search</button>
</form>
{% elif article_index_query %}
	<form class="search_form" action="{% url "quiz:articles" %}" method="get" accept-charset="utf-8">
		<input class="search_form_input" type="text" name="q" value="{{ request.GET.q }}" placeholder="Keywords">
		<button class="search_form_button" type="submit">Search</button>
	</form>
{% else %}
<form class="search_form" action="{% url "quiz:articles" %}" method="get" accept-charset="utf-8">
	<input class="search_form_input" type="text" name="q" value="{{ request.GET.q }}" placeholder="Keywords">
	<button class="search_form_button" type="submit">Search</button>
</form>
{% endif %}


<div class="article_filter">
	<form method="GET">
		<div class="article_filter_choices">
			<div class="input level">
				<div class="label">
					Category
				</div>
				<div class="select">
					{{article_list.form.category2}}
				</div>
			</div>
			<div class="input category">
				<div class="label">
					{{article_list.form.tag.label}}
				</div>
				<div class="select">
					{{article_list.form.tag}}
				</div>
			</div>
		</div>
		{% if article_list.form %}
			<button type="submit" name="button" class ="btn button">Find Articles</button>
		{% endif %}
	</form>
</div>

{% endblock %}
