{% extends 'quiz/base.html' %}
{% load static %}
{% block title %} {{object.title}} {% endblock %}
{% block description %}
  {{object.summary}}
{% endblock %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'quiz/css/article_index.min.css' %}">
  <link rel="stylesheet" href="{% static 'quiz/css/content.min.css' %}">
</head>
<body>
		{% include 'quiz/navbar.html' %}
    <div class="wrapper articles_wrapper articles_post_wrapper content_wrapper">
      <main class="container articles_container">
        <div class="article-post_info">
          <h1 class="article-post_title">{{ object.title }}</h1>
						<span class="article_date">{{ object.update |date:"M j, Y"}}</span>
						{% if object.category2 %}
							<a class="article_category article_category_{{object.category2.slug}}" href="{% url 'quiz:article_category_post' object.category2.slug %}">{{ object.category2.name }}</a>
						{% endif %}
							{% for tag in object.tag.all %}
							<a class="article_tag" href="{% url 'quiz:article_tag_post' tag.slug %}">
								{{ tag }}
							</a>
							{% endfor %}

          {% if object.thumbnail  %}
          	<img class="article-post_thumbnail" src="{{ object.thumbnail.url }}" alt="">
							<div class="thumbnail_attr">
								<a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by rawpixel.com - www.freepik.com</a>
							</div>

          {% endif %}
        </div>
        <article class="content article-post_content">
          {{ object.markdown | safe}}
					<section class="article_references"><!--references-->
						{% if articles.articlereferences_set.all %}
							<p class="section_head reference_head">References</p>
							{% for reference in articles.articlereferences_set.all %}
								<div class="article_reference">
									{{ reference.reference |safe}}
								</div>
							{% endfor %}
						{% endif %}
					</section>
        </article>
			</main>
			<aside class="sidebar articles_sidebar" id="articles_sidebar"><!--Sidebar-->
					{% include 'quiz/articles/article_tags.html' %}
			</aside>

      <section class="related_posts articles_container"><!--related-->
        <p class="section_head">Related</p>
					{% for basic in object.related_basics.all %}
						{% if basic.public %}
						<article class = "article_container">
							<a class="article_link" href="{% url 'quiz:article_post' basic.title_slug %}">
								<div class="article_thumbnail">
									{% if basic.thumbnail  %}
									<img src="{{ basic.thumbnail.url }}" alt="">
									{% endif %}
								</div>
								<div class="article_top">
									<span>{{ basic.title }}</span>
									{% if basic.summary %}
									<div class="article_summary">
										<p>{{ basic.summary | safe }}</p>
									</div>
									{% endif %}
								</div>
							</a>
							<div class="article_bottom">
								<div class="article_categories">
									{% if basic.category2 %}
										<a class="article_category article_category_{{basic.category2.slug}}" href="{% url 'quiz:article_category_post' basic.category2.slug %}">{{ basic.category2.name }}</a>
									{% endif %}
										<span class="article_date">{{ basic.update |date:"M j, Y"}}</span>
								</div>
								<div class="article_tags">
									{% for tag in basic.tag.all %}
									<a class="article_tag" href="{% url 'quiz:article_tag_post' tag.slug %}">
										{{ tag }}
									</a>
									{% endfor %}
								</div>
							</div>
						</article>

						{% endif %}
					{% endfor %}
      </section>
			<section class="article_comment">
				<h2 class="section_head">Comments</h2>
		  <a class="comment_submit" href="{% url 'quiz:comment_form' object.pk %}">Leave a comment</a>
			{% include 'quiz/articles/comment/comments.html' %}
			</section>
		</div>
  </body>
</html>
{% endblock %}
