{% extends 'quiz/base.html' %}
{% load static %}
{% block title %}Advanced{% endblock %}
{% block description %}
  Here are more advanced articles on the Japanese language!
{% endblock %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'quiz/css/article_index.min.css' %}">
</head>
<body>
  {% include 'quiz/navbar.html' %}
	<div class="wrapper articles_wrapper">
		{% if login_user%}
			<h1 class="section_head">{{login_user.nickname}}'s Favorite Articles</h1>
		{% else %}
			<h1 class="section_head">記 - Articles</h1> <!-- Advanced Head-->
		{% endif %}


		<span class="sidebar_button" id="sidebar_button" onclick="openNav()"><i class="fas fa-chevron-down"></i></span>

    <div class="articles_container">
      {% for basic in page_obj %}
				{% if not basic.public and request.user.is_authenticated%}
					<a class="article_link" href="{% url 'quiz:article_post' basic.title_slug %}">
						{{basic.title}}
					</a>
					{% if basic.thumbnail  %}
						<img src="{{ basic.thumbnail.url }}" alt="" style="width:100px;">
					{% endif %}
				{% endif %}
        {% if basic.public %}
          <article class = "article_container">
						<a class="article_link" href="{% url 'quiz:article_post' basic.title_slug %}">
							<div class="article_thumbnail">
								{% if basic.thumbnail  %}
								<img src="{{ basic.thumbnail.url }}" alt="">
								{% endif %}
							</div>
	            <div class="article_top">
	              <span>{{ basic.title|title }}</span>
								{% if basic.summary %}
								<div class="article_summary">
									<p>{{ basic.summary | safe }}</p>
								</div>
								{% endif %}
	            </div>
						</a>
						<div class="article_bottom">
	            <div class="article_categories">
	              {% if basic.category2 %}
	                <a class="article_category article_category_{{basic.category2.slug}}" href="{% url 'quiz:article_category_post' basic.category2.slug %}">{{ basic.category2.name }}</a>
	              {% endif %}
	              	<span class="article_date">{{ basic.update |date:"M j, Y"}}</span>

	            </div>
							<div class="like_section article_like_section" id="article_{{basic.pk}}_like_section">
								{% include 'quiz/articles/like.html' %}
							</div>
	            <div class="article_tags">
                {% for tag in basic.tag.all %}
                <a class="article_tag" href="{% url 'quiz:article_tag_post' tag.slug %}">
              		{{ tag }}
              	</a>
              	{% endfor %}
							</div>
						</div>
					</article>
        {% endif %}
      {% endfor %}
    </div><!-- Articleindex_container-->

    <aside class="sidebar articles_sidebar" id="articles_sidebar"><!--Sidebar-->
      {% include 'quiz/articles/article_tags.html' %}
    </aside>


      {% include 'quiz/pagination.html' %}

  </div>
	<script type="text/javascript">

	$(document).on('click', '.article_like_button',function(event){
		event.preventDefault();
		var article_id = $(this).attr('id')
		var article_id_like_section = '#article_' + article_id + '_like_section'
				$.ajax({
								 type: "POST",
								 url: "{% url 'quiz:article_like' %}",
								 data: {'pk': article_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
								 dataType: "json",
								 success: function(response) {
									 console.log('ok')
										$(article_id_like_section).html(response['form'])
									},

						});
			})
	</script>
</body>
{% endblock %}
