{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'quiz/css/basics.min.css' %}">
<div class="sidebar">
  <div class="article_category sidebar_card">
    <div class="sidebar_head">
      <p>Categories</p>
    </div>
    <ul>
      {% for category in article_category|dictsortreversed:"num_posts" %}
        <a href="{% url 'quiz:article_category_post' category.slug %}" class="sidebar_category category_{{category.slug}}"> {{ category }} <span>{{ category.num_posts }}</span></a>
      {% endfor %}
    </ul>
  </div>

  <div class="article_tags sidebar_card">
    <div class="sidebar_head">
      <p>Tags</p>
    </div>
    <ul>
      {% for tag in article_tags|dictsortreversed:"num_posts" %}
        <a href="{% url 'quiz:article_tag_post' tag.slug %}"> {{ tag }} <span>{{ tag.num_posts }}</span></a>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
