{% load static %}
<link rel="stylesheet" href="{% static 'quiz/css/like.min.css' %}">


{% if request.is_ajax %}
	<span class="like_num">{{total_likes_json}}</span>
	{% if is_liked == True %}
		<button action="post" class="like_button quiz_like_button is_liked" type="button"  name="{{ quiz.pk }}" id="{{quiz.pk}}"><i class="fas fa-heart"></i></button>
	{% else %}
		<button action="post" class="like_button quiz_like_button" type="button"  name="{{ quiz.pk }}" value="Like" id="{{quiz.pk}}"><i class="far fa-heart"></i></button>
	{% endif %}
{% else %}
	<span class="like_num">{{quiz.likes.count}}</span>
	{% if request.user in quiz.likes.all %}
		<button action="post" class="like_button quiz_like_button is_liked" type="button"  name="{{ quiz.pk }}" id="{{quiz.pk}}"><i class="fas fa-heart"></i></button>
	{% else %}
		<button action="post" class="like_button quiz_like_button is_liked" type="button"  name="{{ quiz.pk }}" id="{{quiz.pk}}"><i class="far fa-heart"></i></button>
	{% endif %}


{% endif %}
