{% load static %}
<!DOCTYPE html>
<html lang="ed">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}日本語Tatsujin{% endblock %}</title>
    <meta name="description" content="{% block description %}Welcome to 日本語Tatsujin!{% endblock %}">
    <link rel="icon" href="https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/favicon/favicon.ico">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">

    <!-- New CSS -->
    <link rel="stylesheet" href="{% static 'quiz/css/destyle.css' %}">
    <link rel="stylesheet" href="{% static 'quiz/css/common.min.css' %}">
    <script>
    (function(d) {
      var config = {
        kitId: 'qys8ibt',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
    </script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167867160-1"></script>
		<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-167867160-1');
		</script>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<script type="text/javascript" src="{% static 'quiz/js/all.js' %}"></script>
  </head>
  {% block content %}
  {% endblock %}
</html>
