{% extends 'quiz/base.html' %}
{% load static %}
{% block title %} Before You Start {% endblock %}
{% block description %}
  Learn how to use Nihongo Tatsujin
{% endblock %}
{% block content %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'quiz/css/content.min.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167867160-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-167867160-1');
    </script>
  </head>
  <body>
	  {% include 'quiz/navbar.html' %}
    <div class="wrapper beforeyoustart_wrapper">
      <h1 class="welcome"></h1>
      <div class="content beforeyoustart_content">
        {% for object in object_list %}
          {{ object.markdown|safe }}
        {% endfor %}
  		</div>
    </div>
  </body>
</html>

{% endblock %}
