{% extends 'quiz/base.html' %}
{% block content %}
{% load bootstrap %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167369199-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167369199-1');
</script>
<div class="body">
  <div class="filter">
    <form method="GET">
      {{ filter.form | bootstrap }}
      <button type="submit" name="button" class ="btn">Find Quizzes</button>
  </form>
  </div>
  {% for quiz in filter.qs %}


  <div class="card card-quiz">
    <div class="card-title">
    {% if user.is_authenticated or quiz.public %}
      {% if not quiz.public %} Draft {% endif %}{{quiz.question}}
    </div>
    <div class="card-body">
      {% if quiz.choice_long %}
        <div class="card-text row">
          <div class="choice choice-1 col-12 border border-white  bg-light mb-3">
            {{quiz.choice1}}
          </div>
          <div class="choice choice-2 col-12 border border-white  bg-light mb-3">
            {{quiz.choice2}}
          </div>
          {% if quiz.choice3 %}
            <div class="choice choice-3 col-12 border border-white  bg-light mb-3">
              {{quiz.choice3}}
            </div>
          {% endif %}
          {% if quiz.choice3 %}
            <div class="choice choice-4 col-12 border border-white  bg-light mb-3">
              {{quiz.choice4}}
            </div>
          {% endif %}
        </div>
      {% endif%}
      {% if not quiz.choice_long %}
        <div class="card-text row">
          <div class="choice choice-1 col-6 border border-white  bg-light">
            {{quiz.choice1}}
          </div>
          <div class="choice choice-2 col-6 border border-white  bg-light">
            {{quiz.choice2}}
          </div>
          {% if quiz.choice3 %}
            <div class="choice choice-3 col-6 border border-white  bg-light">
               {{quiz.choice3}}
            </div>
          {% endif %}
          {% if quiz.choice3 %}
            <div class="choice choice-4 col-6 border border-white  bg-light">
              {{quiz.choice4}}
            </div>
          {% endif %}
        </div>
      {% endif%}
      <div class="w-100 d-flex justify-content-between card-bottom">
        <div class="quiz-info">
          <div class="card-level-category">
            <a class=" {{quiz.level.slug}}" href="{% url 'quiz:level_post' quiz.level.slug %}">{{quiz.level}}</a>
            <a class=" {{quiz.category.slug}}" href="{% url 'quiz:category_post' quiz.category.slug %}">{{quiz.category}}</a>
          </div>
          <div class="card-tag">
            {% for tag in quiz.tags.all %}
              <a href="{% url 'quiz:tag_post' tag.slug %}">{{ tag.name }}</a>
            {% endfor %}
          </div>
        </div>
        <a class="answer btn btn-success text-white" data-toggle="collapse" href="#c{{quiz.pk}}" role="button" aria-expanded="false" aria-controls="c{{quiz.pk}}">
          Answer
        </a>
      </div>
      <div class="collapse" id="c{{quiz.pk}}">
        <div class="card card-body answer-collapse">
          <span class="correct-answer">{{quiz.answer}}</span>
          <div class="description"><!--DetailDescription-->
            {% if quiz.description %}
              <div class="quiz-description">
                {{ quiz.description |safe }}
              </div>
            {% endif %}
            <div class="detail-description">
              {% for detail in quiz.descriptiondetail_set.all  %}
                {% if detail.word %}
                  <div class="detail-word">
                    {{ detail.word  }}
                  </div>
                {% endif %}
                {% if detail.yomi %}
                  <div class="detail-yomi">
                    {{ detail.yomi  }}
                  </div>
                {% endif %}
                {% if detail.definition %}
                  <div class="detail-definition">
                    {{ detail.definition  }}
                  </div>
                {% endif %}
                {% if detail.usage %}
                  <div class="detail-usage">
                    {{ detail.usage }}
                  </div>
                {% endif %}
                {% if detail.example_ja %}
                  <div class="detail-example-ja">
                    {{ detail.example_ja }}
                  </div>
                {% endif %}
                {% if detail.example_yomi %}
                  <div class="detail-example-yomi">
                    {{ detail.example_yomi }}
                  </div>
                {% endif %}
                {% if detail.example_en %}
                  <div class="detail-example-en">
                    {{ detail.example_en }}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="choices-description">
              {% if quiz.choicesdetail_set.all %}
              <p>Choices</p>
              {% endif %}
              {% for choice in quiz.choicesdetail_set.all %}
                {% if choice.choice_explanation_1 %}
                  <div class="choice1">
                    {{ choice.choice_explanation_1 }}
                  </div>
                {% endif %}
                {% if choice.choice_explanation_2 %}
                  <div class="choice2">
                    {{ choice.choice_explanation_2 }}
                  </div>
                {% endif %}
                {% if choice.choice_explanation_3 %}
                  <div class="choice3">
                    {{ choice.choice_explanation_3 }}
                  </div>
                {% endif %}
                {% if choice.choice_explanation_4 %}
                  <div class="choice4">
                    {{ choice.choice_explanation_4 }}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  {% endfor %}
{% endblock %}
