{% extends 'quiz/base.html' %}
{% block content %}

<div class="body">
  {% for quiz in object_list %}

  <div class="card card-quiz">
    <div class="card-title">

    {% if user.is_authenticated or quiz.public %}
      {% if not quiz.public %} Draft {% endif %}{{quiz.question}}
    </div>
    <div class="card-body">

    <div class="card-text row">
      <div class="choice col-6 border border-white  bg-light">
        1. {{quiz.choice1}}
      </div>
      <div class="choice col-6 border border-white  bg-light">
        2. {{quiz.choice2}}
      </div>
      <div class="choice col-6 border border-white  bg-light">
        3. {{quiz.choice2}}
      </div>
      <div class="choice col-6 border border-white  bg-light">
        4. {{quiz.choice4}}
      </div>
      <div class="w-100 d-flex justify-content-between card-bottom">
        <div class="quiz-info">
          <div class="card-category">
            {{quiz.category}}
          </div>
          <div class="card-tag">
            {{quiz.tags}}
          </div>
        </div>
        <a class="btn btn-primary text-right" data-toggle="collapse" href="#c{{quiz.pk}}" role="button" aria-expanded="false" aria-controls="c{{quiz.pk}}">
          Answer
        </a>
      </div>
      <div class="collapse" id="c{{quiz.pk}}">
        <div class="card card-body">
          {{quiz.description}}
        </div>
      </div>
    </div>
  </div>
</div>

    {% endif %}
    {% empty %}
      <li>Not Questions</li>
  {% endfor%}
</div>
{% endblock %}
