{% load static %}
<link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
<link rel="icon" type="image/png" href="{% static 'quiz/img/favicon.ico' %}">

<nav class="smart-scroll navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between" id="navbar">
  <div class="logo">
    <a class="navbar-brand" href="/">日本語Tatsujin</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{% url 'quiz:basics' %}">
            Basics
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'quiz:articles' %}">
            Articles
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'quiz:lessons' %}">
            Courses
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'quiz:quiz' %}">
            Quizzes
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'quiz:correction' %}">
            Correction
          </a>
        </li>


      </ul>
  </div>
</nav>
<script type="text/javascript" src="{% static 'quiz/js/all.js' %}"></script>
