{% load static %}
<link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
<link rel="stylesheet" href="{% static 'quiz/css/common.min.css' %}">
<link rel="stylesheet" href="{% static 'quiz/css/navbar.min.css' %}">
<body>
<div class="navbar_wrapper" id="navbar">
<nav class="navbar">
	<div class="navbar_logo">
	  <a href="/"><img class="logo_img" src="https://nihongotatsujin.s3-ap-northeast-1.amazonaws.com/media/logo/380ac91c-2c70-49c4-ae0e-958f43ecf2df_200x200.png" alt="Nihongo Tatsujin"> </a>
	</div>
  <ul class="navbar_list">
    <li class="navbar_item">
      <a href="{% url 'quiz:basics' %}">
        Basics
      </a>
    </li>
    <li class="navbar_item">
      <a href="{% url 'quiz:articles' %}">
        Articles
      </a>
    </li>
    <li class="navbar_item">
      <a href="{% url 'quiz:lessons' %}">
        Courses
      </a>
    </li>
    <li class="navbar_item">
      <a href="{% url 'quiz:quiz' %}">
        Quizzes
      </a>
    </li>
    <li class="navbar_item">
      <a href="{% url 'quiz:correction' %}">
        Correction
      </a>
    </li>
  </ul>
  <a class="navbar_button" href="#" onclick="drop()" ><i class="fas fa-bars"></i></a>
</nav>
</div>
<ul class="navbar_list_collapse" id="navbar_collapse">
	<li class="navbar_item_collapse">
		<a href="{% url 'quiz:basics' %}">
			Basics
		</a>
	</li>
	<li class="navbar_item_collapse">
		<a href="{% url 'quiz:articles' %}">
			Articles
		</a>
	</li>
	<li class="navbar_item_collapse">
		<a href="{% url 'quiz:lessons' %}">
			Courses
		</a>
	</li>
	<li class="navbar_item_collapse">
		<a href="{% url 'quiz:quiz' %}">
			Quizzes
		</a>
	</li>
	<li class="navbar_item_collapse">
		<a href="{% url 'quiz:correction' %}">
			Correction
		</a>
	</li>
</ul>
</body>
