{% extends 'quiz/base.html' %}
{% load static %}
{% block title %} Top Page {% endblock %}
{% block description %}
  Let's learn Nihongo with me!
{% endblock %}
{% block content %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'quiz/css/basics.min.css' %}">
    <link rel="stylesheet" href="{% static 'quiz/css/toppage.min.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167867160-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-167867160-1');
    </script>
  </head>
  <body>
    <div class="body">

    <div class="container">
      <div class="row">
        <div class="col-md-6 section">
          <a href="{% url 'quiz:basics' %}">
            <div class="card h-100">
              <div class="card-body ">
                <h1 class="top-menu mb-5 card-title">基 - Basics</h1>
                <p class="desc card-text">New to Nihongo? Here are some crash tutorials on the Japanese writing system and grammar for those of you who are wondering where to start.</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-6 section">
          <a href="{% url 'quiz:articles' %}">
            <div class="card h-100">
              <div class="card-body">
                <h1 class="top-menu mb-5 card-title" href="{% url 'quiz:quiz' %}">記 - Articles</h1>
                <p class="desc card-text">Want to explore the Nihongo world more? Let's dive into it!</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-6 section">
          <a href="{% url 'quiz:lessons' %}">
            <div class="card h-100">
              <div class="card-body ">
                <h1 class="top-menu mb-5 card-title">習 - Courses</h1>
                <p class="desc card-text">You don't have to buy textbooks! Here are 日本語Tatsujin's original courses. Let's learn practical Japanese here.</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-6 section">
          <a href="{% url 'quiz:quiz' %}">
            <div class="card h-100">
              <div class="card-body">
                <h1 class="top-menu mb-5 card-title" href="{% url 'quiz:quiz' %}">問 - Quizzes</h1>
                <p class="desc card-text">Practice makes perfect. A bunch of quick quizzes are waiting for you!</p>
              </div>
            </div>
          </a>
        </div>




      </div>
    </div>
    </div>
  </body>
</html>

{% endblock %}
