{% extends 'quiz/base.html' %}
{% load static %}
{% block title %} Nihongo Tatsujin {% endblock %}
{% block description %}
  Welcome to Nihongo Tatsujin
{% endblock %}
{% block content %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'quiz/css/toppage.min.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167867160-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-167867160-1');
    </script>
  </head>
  <body>
    {% include 'quiz/navbar.html' %}

    <div class="wrapper toppage_wrapper">
      <section class="toppage_container toppage_beforeyoustart"><!-- Before You Start-->
        <a href="{% url 'quiz:before_you_start' %}">
	        <div class="toppage_content">
						<h2 class="toppage_content_head">準 - Before You Start</h2>
						<p class="toppage_content_desc">If you are completely new to here, take some time to read this and learn how to use Nihongo Tatsujin.</p>
	        </div>
				</a>
      </section>

			<section class="toppage_container toppage_basics"><!-- Basics-->
        <a href="{% url 'quiz:basics' %}">
	        <div class="toppage_content">
						<h2 class="toppage_content_head">基 - Basics</h2>
						<p class="toppage_content_desc">New to Nihongo? Here are some crash tutorials on the Japanese writing system and grammar for those of you who are wondering where to start.</p>
	        </div>
				</a>
      </section>

			<section class="toppage_container toppage_articles"><!-- Articles-->
				<a href="{% url 'quiz:articles' %}">
					<div class="toppage_content">
						<h2 class="toppage_content_head">記 - Articles</h2>
						<p class="toppage_content_desc">Want to explore the Nihongo world more? You can read articles on more advanced Nihongo as well as the Japanese culture. Let's dive into it!</p>
					</div>
				</a>
			</section>

			<section class="toppage_container toppage_courses"><!--Courses-->
				<a href="{% url 'quiz:lessons' %}">
					<div class="toppage_content">
						<h2 class="toppage_content_head">習 - Courses</h2>
						<p class="toppage_content_desc">You don't have to buy textbooks! Here are 日本語Tatsujin's original courses. Let's learn practical Japanese here.</p>
					</div>
				</a>
			</section>

			<section class="toppage_container toppage_quizzes"><!--Quizzes -->
				<a href="{% url 'quiz:quiz' %}">
					<div class="toppage_content">
						<h2 class="toppage_content_head">問 - Quizzes</h2>
						<p class="toppage_content_desc">Practice makes perfect. A bunch of quick quizzes are waiting for you!</p>
					</div>
				</a>
			</section>

			<section class="toppage_container toppage_correction"><!-- Correction -->
				<a href="{% url 'quiz:correction' %}">
					<div class="toppage_content">
						<h2 class="toppage_content_head">修 - Correction</h2>
						<p class="toppage_content_desc">Looking for someone who can correct your Japanese writing? I'm here! You also can read others' works!</p>
					</div>
				</a>
			</section>
  </body>
</html>

{% endblock %}
