{% load static %}
{% block content %}
<div class="sidebar article_sidebar">
	<button class="button weak_button search_open_button" id="collapse_open_button">
		Search
	</button>
	<div class="collapse_target">
	{% if all_articles_of_user %}
		<form class="search_form" action="{% url "quiz:all_articles_of_user" user.pk %}" method="get" accept-charset="utf-8">
			<input class="search_form_input" type="text" name="q" value="{{ request.GET.q }}" placeholder="Keyword">
			<button class="search_form_button" type="submit"><i class="fas fa-search"></i></button>
		</form>
		{% else %}<!-- if all_articles_of_user end -->
			<form class="search_form" action="{% url "quiz:article_index" %}" method="get" accept-charset="utf-8">
				<input class="search_form_input" type="text" name="q" value="{{ request.GET.q }}" placeholder="Keyword">
				<button class="search_form_button" type="submit"><i class="fas fa-search"></i></button>
			</form>
			<div class="sidebar_category_tag_container">
				<p class="sidebar_head">Category</p>
				<div class="category_tag_scroll">
					<div class="container">
						{% for category in article_categories %}
							{% if not category.num_blogs == 0 %}
								<a class="category" href="{% url 'quiz:article_category_list' category.slug %}">{{ category }} <span class="num category_num">{{category.num_articles}}</span></a>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<p class="sidebar_head">Tag</p>
				<div class="category_tag_scroll">
					<div class="container tags">
						{% for tag in article_tags %}
							{% if not tag.num_blogs == 0 %}
								<a class="tag" href="{% url 'quiz:article_tag_list' tag.slug %}">{{ tag }} <span class="num tag_num">{{tag.num_articles}}</span></a>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}
	</div>
</div>



{% endblock %}
