{% extends 'quiz/base.html' %}
{% load static %}
{% block title %} {{object.title}} {% endblock %}
{% block description %}
  {{object.title}}
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'quiz/css/basics.min.css' %}">
    <link rel="stylesheet" href="{% static 'quiz/css/content.min.css' %}">
  </head>
  <body>
		{% include 'quiz/navbar.html' %}
    <div class="wrapper basics_wrapper">
      <h1 class="post-title">{{ object.title }}</h1>
      <article class="content basics_content">
        {{ object.markdown | safe}}
      </article>
      <div class="related_posts">
        {% if object.related_basics.all or object.related_articles.all %}
          <p class="section-title">Related</p>
          <div class="related_basics">
            {% for related in object.related_basics.all  %}
              <li><a href="{% url 'quiz:basic_post' related.pk  %}">{{ related }}</a></li>
            {% endfor %}
          </div>
          <div class="related_articles">
            {% for related in object.related_articles.all  %}
              <li><a href="{% url 'quiz:article_post' related.pk %}">{{ related }}</a></li>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>


  </body>
</html>
{% endblock %}
