{% extends 'quiz/base.html' %}
{% load static %}
{% block title %}Basics{% endblock %}
{% block description %}
  Here are basic tutorials on the Japanese writing system and grammar
{% endblock %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'quiz/css/basics.min.css' %}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167867160-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-167867160-1');
  </script>
</head>
<div class="container mb-5">
  <h1 class="top-menu mt-5">基 - Basics</h1>

  <div class="row">
    <div class="col-md-6 basic-category">
      <div class=basics-letter">
        <p class="category-title">ひらがな/カタカナ/漢字</p>
          {% for basic in object_list %}
            {% if basic.category.slug == "letter"  %}
            {% if basic.public %}
              <li><a href="{% url 'quiz:basic_post' basic.pk %}">{{ basic.title }}</a></li>
            {% endif %}
            {% endif%}
          {% endfor %}
      </div>
    </div>

    <div class="col-md-6 basic-category">
      <div class=basics-number">
        <p class="category-title">Numbers</p>
          {% for basic in object_list %}
            {% if basic.category.slug == "numbers"  %}
            {% if basic.public %}
              <li><a href="{% url 'quiz:basic_post' basic.pk %}">{{ basic.title }}</a></li>
            {% endif %}
            {% endif%}
          {% endfor %}
      </div>
    </div>

    <div class="col-md-6 basic-category">
      <div class="basics-grammar">
        <p class="category-title">Grammar</p>
          {% for basic in object_list %}
            {% if basic.category.slug == "grammar"  %}
            {% if basic.public %}
              <li><a href="{% url 'quiz:basic_post' basic.pk %}">{{ basic.title }}</a></li>
            {% endif%}
            {% endif%}
          {% endfor %}
      </div>
    </div>

    <div class="col-md-6 basic-category">
      <div class="basics-verb">
        <p class="category-title">Verb</p>
          {% for basic in object_list %}
            {% if basic.category.slug == "verb"  %}
            {% if basic.public %}
              <li><a href="{% url 'quiz:basic_post' basic.pk %}">{{ basic.title }}</a></li>
            {% endif%}
            {% endif%}
          {% endfor %}
      </div>
    </div>

    <div class="col-md-6 basic-category">
      <div class="basics-adjective">
        <p class="category-title">Adjective</p>
          {% for basic in object_list %}
            {% if basic.category.slug == "adjective"  %}
            {% if basic.public %}
              <li><a href="{% url 'quiz:basic_post' basic.pk %}">{{ basic.title }}</a></li>
            {% endif%}
            {% endif%}
          {% endfor %}
      </div>
    </div>

    <div class="col-md-6 basic-category">
      <div class="basics-noun">
        <p class="category-title">Noun</p>
          {% for basic in object_list %}
            {% if basic.category.slug == "noun"  %}
            {% if basic.public %}
              <li><a href="{% url 'quiz:basic_post' basic.pk %}">{{ basic.title }}</a></li>
            {% endif%}
            {% endif%}
          {% endfor %}
      </div>
    </div>

  </div>
</div>
<div class="empty">

</div>

{% endblock %}
