{% extends 'quiz/base.html' %}
{% load static %}
{% block title %}Basics{% endblock %}
{% block description %}
  Here are basic tutorials on the Japanese writing system and grammar
{% endblock %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'quiz/css/basics.min.css' %}">
</head>
{% include 'quiz/navbar.html' %}
<div class="wrapper basics_wrapper">
  <h1 class="section_head">基 - Basics</h1>

  <div class="basic_container"><!--Letters-->
    <h2 class="basic_head">Letters</h2>
		<div class="basic_list">
	    {% for basic in object_list %}
	      {% if basic.category.slug == "letter" and basic.public %}
	        <li><a href="{% url 'quiz:basic_post' basic.title_slug %}">{{ basic.title }}</a></li>
	      {% endif%}
    {% endfor %}
		</div>
  </div>

	<div class="basic_container"><!--Numbers-->
    <h2 class="basic_head">Numbers</h2>
		<div class="basic_list">
	    {% for basic in object_list %}
	      {% if basic.category.slug == "numbers" and basic.public %}
	        <li><a href="{% url 'quiz:basic_post' basic.title_slug %}">{{ basic.title }}</a></li>
	      {% endif%}
    {% endfor %}
		</div>
  </div>

	<div class="basic_container"><!--Grammar-->
		<h2 class="basic_head">Grammar</h2>
		<div class="basic_list">
			{% for basic in object_list %}
				{% if basic.category.slug == "grammar" and basic.public %}
					<li><a href="{% url 'quiz:basic_post' basic.title_slug %}">{{ basic.title }}</a></li>
				{% endif%}
		{% endfor %}
		</div>
	</div>

	<div class="basic_container"><!--Verb-->
		<h2 class="basic_head">Verb</h2>
		<div class="basic_list">
			{% for basic in object_list %}
				{% if basic.category.slug == "verb" and basic.public %}
					<li><a href="{% url 'quiz:basic_post' basic.title_slug %}">{{ basic.title }}</a></li>
				{% endif%}
		{% endfor %}
		</div>
	</div>

	<div class="basic_container"><!--Adjective-->
		<h2 class="basic_head">Adjective</h2>
		<div class="basic_list">
			{% for basic in object_list %}
				{% if basic.category.slug == "adjective" and basic.public %}
					<li><a href="{% url 'quiz:basic_post' basic.title_slug %}">{{ basic.title }}</a></li>
				{% endif%}
		{% endfor %}
		</div>
	</div>

	<div class="basic_container"><!--Noun-->
		<h2 class="basic_head">Noun</h2>
		<div class="basic_list">
			{% for basic in object_list %}
				{% if basic.category.slug == "noun" and basic.public %}
					<li><a href="{% url 'quiz:basic_post' basic.title_slug %}">{{ basic.title }}</a></li>
				{% endif%}
		{% endfor %}
		</div>
	</div>

</div>



{% endblock %}
