{% extends 'quiz/base.html' %}
{% load static %}
{% block title %}Course Kanji{% endblock %}
{% block description %}
  The list of Kanji used in the lessons
{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'quiz/css/lessons.min.css' %}">
  </head>
  <body>
		{% include 'quiz/navbar.html' %}
		<div class="wrapper lesson_info_list_wrapper kanji_list_wrapper">
      <h1 class="section_head">Kanji List </h1>
      <div class="list_container">
        <div class="list_chapter list_head">
          <p>CP</p>
        </div>
        <div class="list_kanji list_head">
          <p>Kanji</p>
        </div>
        <div class="list_yomi list_head">
          <p>Yomi</p>
        </div>
        <div class="list_definition list_head">
          <p>Deninition</p>
        </div>
      {% for kanji in object_list %}
        {% if kanji.kanji %}
          <div class="list_row">
            <div class="list_chapter">
              {{ kanji.lesson.chapter }}
            </div>
            <div class="list_kanji">
              <a class="table-word" href="{% url 'quiz:lesson_post' kanji.lesson.pk %}">{{ kanji.kanji }}</a>
            </div>
            <div class="list_yomi">
              {{ kanji.yomi }}
            </div>
            <div class="list_definition">
              {{ kanji.definition }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
		</div>
    </div>
  </body>
</html>

{% endblock %}
