{% extends 'quiz/base.html' %}
{% load static %}
{% block title %} Submit Your Writing {% endblock %}
{% block description %}
  Submit your Japanese writing to brush up you writin skill
{% endblock %}
{% block content %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'quiz/css/basics.min.css' %}">
    <link rel="stylesheet" href="{% static 'quiz/css/toppage.min.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167867160-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-167867160-1');
    </script>
  </head>
  <body>
    <div class="correction">
      <div class="container">
        <form class="correction_form" action="{% url 'quiz:correction_add' %}" method="post">
          <div class="correction_name">
            <p class="correction_label">Name<span class="span">(Optional)</span></p>
            {{form.name}}
          </div>
          <div class="correction_level">
            <p class="correction_label">Formality<span class="span">(Optional)</span></p>
            {{form.type}}
          </div>
          <div class="correction_text">
            <p class="correction_label">Text</p>
            {{form.text}}
          </div>
          <div class="correction_desc">
            <p class="correction_label">Description<span class="span">(Optional)</span><br>
            <span class="span">Add a description about your text if you want(Who is the reader?/In what context?...), so I can give you a detailed feedback</span>
            </p>
            {{form.desc}}
          </div>
          <span class="correction_error">{{form.text.errors}}</span>

          <button type="submit" name="button" class="submit_button" onclick="confirmation()">Submit</button>
          {% csrf_token %}
        </form>
      </div>
    </div>
    <script type="text/javascript" src="{% static 'quiz/js/all.js' %}"></script>
  </body>
</html>

{% endblock %}
