{% extends 'quiz/base.html' %}
{% load static %}
{% load markdownify %}
{% block title %} {{object.title}} {% endblock %}
{% block description %}
  {% for desc in correction.correctionsentences_set.all %}
    {{ desc.markdown | safe}}
  {% endfor %}
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'quiz/css/basics.min.css' %}">
    <link rel="stylesheet" href="{% static 'quiz/css/style.min.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167867160-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-167867160-1');
    </script>
  </head>
  <body>
    <div class="body correction_post">

    <div class="container">
      <div class="correction_info">
        {% if object.name %}
          <p >Written by <span class="writer">{{object.name}}</span></p>
        {% endif %}
        {% if not object.name %}
          <p >Written by <span class="writer">John Doe</span></p>
        {% endif %}

        {% if correction.type %}
          <p>Type: <span class="writer">{% if correction.type == 1 %}
          SUPER Casual
          {% endif %}
          {% if correction.type == 2 %}
          Casual
          {% endif %}
          {% if correction.type == 3 %}
          Formal
          {% endif %}
          {% if correction.type == 4 %}
          SUPER Formal
          {% endif %}
        {% endif %}

        {% if correction.desc %}
          <p class="correction_info_desc">{{object.desc}}</p>
        {% endif %}
    </span>
    </p>
    </div>

      <div class="row">
        <div class="col">
          <div class="post-info">
          </div>
            {% for desc in correction.correctionsentences_set.all %}
            <div class="correction-wrapper">

              <div class="row">
                <div class="col-10 left">
                  <p class="original " id="original-{{desc.pk}}">{{ desc.original | safe }}</p>

                  <div class="correction_desc collapse " id="desc-{{desc.pk}}">
                    <p class="corrected">{{ desc.markdown_corrected | safe }}</p>
                    <p class="corrected_yomi">{{ desc.corrected_yomi | safe }}</p>
                    <p class="desc">{{ desc.markdown | safe }}</p>
                  </div>
                </div>
                <div class="col-1 right">
                  <button class="btn btn-casual" type="button" onclick="color_change({{desc.pk}})" data-toggle="collapse" data-target="#desc-{{desc.pk}}" aria-expanded="false" aria-controls="desc-{{desc.pk}}" id="button-{{desc.pk}}">&laquo;</button>
                </div>
              </div>


            </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static 'quiz/js/all.js' %}">
  </script>
  </body>
</html>
{% endblock %}
