{% extends 'quiz/base.html' %}
{% load static %}
{% load markdownify %}
{% block title %} {{object.title}} {% endblock %}
{% block description %}
  {{object.name}}'s composition
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'quiz/css/correction.min.css' %}">
  </head>
  <body>
		{% include 'quiz/navbar.html' %}
    <div class="wrapper correction_post_wrapper">
	    <div class="container correction_post_container">
	      <div class="correction_post_info">
	        {% if object.name %}
	          <p class="writer">Written by <span class="written_by">{{object.name}}</span></p>
	        {% endif %}
	        {% if not object.name %}
	          <p class="writer">Written by <span class="written_by">John Doe</span></p>
	        {% endif %}

	        {% if correction.type %}
	          <p class="type">Type: <span>{% if correction.type == 1 %}
	          SUPER Casual
	          {% endif %}
	          {% if correction.type == 2 %}
	          Casual
	          {% endif %}
	          {% if correction.type == 3 %}
	          Formal
	          {% endif %}
	          {% if correction.type == 4 %}
	          SUPER Formal
	          {% endif %}
	        {% endif %}

	        {% if correction.desc %}
	          <p class="correction_info_desc">{{object.desc}}</p>
	        {% endif %}
			    </span>
			    </p>
		    </div>

		    {% for desc in correction.correctionsentences_set.all %}
		      <div class="container correction_content_container">
		        <div class="correction_left">
		          <p class="correction_original" id="original-{{desc.pk}}">{{ desc.original | safe }}</p>
		          <div class="correction_desc " id="desc-{{desc.pk}}">
		            <div class="corrected">{{ desc.markdown_corrected | safe }}</div>
		            <div class="corrected_yomi">{{ desc.corrected_yomi | safe }}</div>
		            <div class="content correction_content">{{ desc.markdown | safe }}</div>
		          </div>
		        </div>
		        <div class="correction_right">
		          <button class="correction_btn" type="button" onclick="color_change({{desc.pk}})" id="{{desc.pk}}">&laquo;</button>
		        </div>
		      </div>
		    {% endfor %}
		</div>
  </div>
  <script type="text/javascript" src="{% static 'quiz/js/all.js' %}">
  </script>
  </body>
</html>
{% endblock %}
